.setting_box {
  margin-bottom: 35px; }
  .setting_box + .setting_box {
    margin-top: 20px; }
  .setting_box h3 {
    position: relative;
    margin-bottom: 15px;
    padding: 0px 0px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .setting_box h3:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("../../../images/bullet.png") top left no-repeat;
      background-size: 100% auto;
      position: absolute;
      left: 0px;
      top: -6px; }
    .setting_box h3 span {
      font-size: 12px;
      font-weight: 600;
      color: #fff; }
