.ethereum{
    width: 530px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (max-width: 600px) {
        width: 90%;
    }
    >h1{
        font-family: Avenir;
        font-size: 40px;
        font-weight: 900;
        color: #0027ec;
        text-align: center;
        margin-bottom: 15px;
        @media screen and (max-width: 600px) {
            font-size: 8vw;
        }
    }
    >a{
        display: block;
        text-align: center;
        width: 220px;
        height: auto;
        overflow: hidden;
        margin: 7px auto 10px auto;
        color: #888;
        text-decoration: underline;
        font-size: 14px;
    }
    .info{
        position: relative;
        width: 500px;
        height: auto;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
        border: 3px solid #0027ec;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
        p{
            color: #0027ec;
            line-height: 1.5;
            font-weight: bold;
            font-size: 12px;
        }
        >a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0px;
            top: 0px;
            color: #0027ec;
        }
    }
    span.text{
        position: fixed;
        display: block;
        width: 100%;
        height: 30px;
        bottom:0;
        left: 0;
        >p{
            display: block;
            width: 220px;
            text-align: center;
            margin: 0 auto 0px auto;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            
            >a{
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .urllink{
        position: fixed;
        height: auto;
        top: 15px;
        right: 15px;
        z-index: 300;
        >a{
            color: #0027ec;
            float: left;
            margin-left: 10px;
        }
    }
    .search{
        width: 95%;
        height: 56px;
        border-radius: 46.5px;
        background-color: #2346f7;
        margin: 0 auto;
        @media screen and (max-width: 600px) {
            height: 40px;
        }
        >input{
            display: block;
            width: 78.5%;
            height: 95%;
            background-color: #2346f7;
            border: 0;
            border-top-left-radius: 46.5px;
            border-bottom-left-radius: 46.5px;
            outline: none;
            padding-left: 30px;
            color: #fff;
            font-family: Avenir;
            font-size: 16px;
            font-weight: 500;
            float: left;
            &::placeholder { 
                color: rgba($color: #fff, $alpha: 0.6);
            }
            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }
        >a.search_icon{
            display: block;
            width: 15%;
            height: 100%;
            float: right;
            cursor: pointer;
            background-image: url("../../images/search.png");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: center center;
        }
    }
}
