.search_bar {
  position: relative;
  margin-bottom: 20px; }
  .search_bar .search_type {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    padding: 10px 40px 10px 13px;
    border: none;
    outline: none;
    box-sizing: border-box; }
  .search_bar .search_icon {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../../images/search.png") center center no-repeat;
    background-size: auto 16px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 10px;
    margin: auto; }
