.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .App > h1 {
    font-family: Avenir;
    font-size: 40px;
    font-weight: 900;
    color: #0027ec;
    text-align: center;
    margin-bottom: 15px; }
    @media screen and (max-width: 600px) {
      .App > h1 {
        font-size: 8vw; } }
  .App span.text {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    bottom: 5px;
    left: 0; }
    .App span.text > p {
      display: block;
      text-align: center;
      margin: 0 auto 0px auto;
      font-size: 14px;
      color: #2346f7;
      font-weight: bold;
      text-align: center;
      line-height: 30px; }
      .App span.text > p > a {
        color: #000000;
        text-decoration: underline; }
  .App .urllink {
    position: fixed;
    height: auto;
    top: 15px;
    right: 15px;
    z-index: 300; }
    .App .urllink > a {
      color: #0027ec;
      float: left;
      margin-left: 10px; }
    @media screen and (max-width: 600px) {
      .App .urllink {
        display: none; } }
  .App .links {
    display: none;
    margin-top: 5px; }
    .App .links > a {
      color: #0027ec;
      margin-left: 10px; }
    @media screen and (max-width: 600px) {
      .App .links {
        display: inline-block;
        font-size: 14px; } }
  .App .clients {
    position: relative;
    width: 530px;
    height: auto;
    max-height: 470px;
    border-radius: 10px;
    background-color: #2346f7;
    box-shadow: 2px 2px 39px 10px rgba(0, 0, 0, 0.15); }
    .App .clients.open {
      display: block; }
    @media screen and (max-width: 600px) {
      .App .clients {
        width: 90%; } }
    .App .clients > h1 {
      display: flex;
      justify-content: space-between;
      font-family: Avenir;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 0.3px;
      color: #ffffff;
      margin-bottom: 20px;
      padding-left: 20px; }
      @media screen and (max-width: 600px) {
        .App .clients > h1 {
          font-size: 5vw;
          margin-bottom: 10px; } }
    .App .clients p {
      font-family: Avenir;
      color: #ffffff;
      padding-left: 20px;
      padding-right: 20px; }
    .App .clients div {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      padding-left: 20px; }
      .App .clients div a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 10px; }
