.resolver {
  position: relative;
  height: auto;
  max-height: 470px;
  border-radius: 10px;
  background-color: #2346f7;
  box-shadow: 2px 2px 39px 10px rgba(0, 0, 0, 0.15);
  margin-top: 33px;
  padding: 10px 25px 10px 25px; }
  .resolver.open {
    display: block; }
  @media screen and (max-width: 600px) {
    .resolver {
      width: 100%;
      margin-top: 16px;
      padding: 10px; } }
  .resolver > h1 {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .resolver > h1 {
        font-size: 5vw;
        margin-bottom: 10px; } }
  .resolver p.titleinfo {
    font-family: Avenir;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-bottom: 15px; }
    @media screen and (max-width: 600px) {
      .resolver p.titleinfo {
        margin-bottom: 5px;
        font-size: 16px; } }
  .resolver .setResolver {
    height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 0 auto; }
    @media screen and (max-width: 600px) {
      .resolver .setResolver {
        height: 40px; } }
    .resolver .setResolver > input {
      display: block;
      width: 70%;
      height: 95%;
      background-color: #ffffff;
      border: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      outline: none;
      padding-left: 15px;
      color: midnightblue;
      font-family: Avenir;
      font-size: 14px;
      font-weight: 500;
      float: left; }
      .resolver .setResolver > input::placeholder {
        color: rgba(102, 102, 102, 0.6); }
      @media screen and (max-width: 600px) {
        .resolver .setResolver > input {
          font-size: 20px; } }
    .resolver .setResolver > a.defaultResolver {
      font-family: Avenir;
      display: block;
      width: 25%;
      height: 100%;
      float: right;
      font-size: 14px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center center;
      background-color: midnightblue;
      color: #ffffff;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      text-align: center; }
      .resolver .setResolver > a.defaultResolver > p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100%; }
  .resolver .setResolverBtn > button {
    font-family: Avenir;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: midnightblue;
    height: 30px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 0;
    cursor: pointer; }

span.tx {
  color: #ffffff; }
  span.tx a:link {
    color: #ffffff; }
  span.tx a:hover {
    color: #999999; }
  span.tx a:visited {
    color: #999999; }
  span.tx a:active {
    color: #999999; }
